.Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 349px;
  width: 100%;
  margin-top: 168px;
}

.Topic-c {
  text-align: center;
}

.Choices-c {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-top: 120px;
}

.Box-c {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3f3d56;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.925px;
  margin-top: 30px;
  transition: transform 0.3s ease;
}

.Box-c img {
  width: 166px;
  height: 160px;
  flex-shrink: 0;
  animation: slideUp 2s ease-in-out infinite;
}

@keyframes slideUp {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.Box-c:hover {
  transform: scale(1.2);
}

